1)Password Expiration 
#vim /etc/login.defs
PASS_MAX_DAYS 90
Force Password Change for Existing Users:
 #chage --mindays 7 --maxdays 90 --warndays 5 root
Check Current Password Policy:
#chage -l username
Enforce Policy Globally:
#vim /etc/default/useradd
INACTIVE=90
-------------------------------
2)Minimum Length  8 characters
vim /etc/security/pwquality.conf
minlen = 8
vim /etc/login.defs:
PASS_MIN_LEN  8
#vim /etc/pam.d/system-auth
password    requisite     pam_pwquality.so try_first_pass local_users_only retry=3 authtok_type= minlen=8
----------------------------------
3)Password Complexity  enabled
vim /etc/security/pwquality.conf
ucredit=-1
lcredit=-1
dcredit=-1
ocredit=-1
# dnf install pam_pwquality cracklib
vim /etc/pam.d/password-auth
vim /etc/pam.d/system-auth
password    requisite     pam_pwquality.so try_first_pass retry=3
Locate the line(s) containing the password section and ensure they include pam_pwquality.so
password    requisite     pam_pwquality.so try_first_pass retry=3 minlen=8 ucredit=-1 lcredit=-1 dcredit=-1 ocredit=-1
---------------------------------------
4)Password History 	Last 4 passwords 
vim /etc/pam.d/password-auth
vim /etc/pam.d/system-auth
Modify Password Configuration: 
Locate the line(s) containing the password section and ensure they include pam_unix.so with the remember parameter. Here's an example of how it might look:
password    sufficient    pam_unix.so sha512 shadow try_first_pass use_authtok remember=4
password required pam_pwhistory.so use_authtok remember=5 retry=3
---------------------------------------------------
5)Account Lockout 	After 5 unsuccessful consecutive logon attempts
vim /etc/pam.d/password-auth
vim /etc/pam.d/system-auth
auth        required      pam_unix.so
auth        required      pam_faillock.so preauth silent audit deny=5 unlock_time=900
Add the pam_faillock.so module to the account section, just after the pam_unix.so module. Here's an example:
account     required      pam_unix.so
account     required      pam_faillock.so
----------------------------------------------------
6)Lock-Out Duration 	30 minutes
vim /etc/security/faillock.conf
unlock_time = 1800
vim /etc/pam.d/password-auth
vim /etc/pam.d/system-auth
auth        required      pam_unix.so
auth        required      pam_faillock.so preauth silent audit deny=5 unlock_time=1800
account     required      pam_unix.so
account     required      pam_faillock.so
------------------------------------------
7)Renewed Log In 	After 30 minutes of inactivity or by a system administrator
vim /etc/security/limits.conf
* hard     idle     1800
-------------------------------------------
8)Screensaver Idle after 10 minutes, password protected 
touch /etc/dconf/db/local.d/00-screensaver
Edit /etc/dconf/db/local.d/00-screensaver and add or update the following lines:
[org/gnome/desktop/session]
# Set the lock time out to 900 seconds before the session is considered idle
idle-delay=uint32 900
#sudo dconf update
dnf install xscreensaver
xset s 600 600
xscreensaver -no-splash &
-----------------------------------------







